section {
    padding: 50px;
    /* background-color: #F6F8DE; */
}

.grid--container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.hero--title {
    font-size: 30px;
    text-align: center;
}

.hero--tagline {
    text-align: center;
}

.hero--description {
    padding:50px;
}

.hero--image {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}

.hero--sidebar {
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}

.hero--sidebar {
    padding-left: 30px;
    padding-right: 30px;
}

.hero--sidebar button {
    background-color:#02a95c;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color:white;
}